<!DOCTYPE html>
<html>
  <head>
    <title>Vanilla MVC Out</title>
    {{~it.styles :value:index}}<link rel="stylesheet" type="text/css" href="{{=value}}"/>{{~}}
  </head>

  <body>
    {{~it.script :value:index}}<script type="text/javascript" src="{{=value}}"></script>{{~}}
  </body>
</html>